.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

.fade-in-bottom {
  animation: fade-in-bottom 1s 0.7s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #5b93a0;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.5;
}

h1 {
  font-size: 1.65em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

a {
  font-size: 1em;
  text-decoration: none;
}

p {
  font-size: 1em;
  text-align: justify;
}

button {
  font-weight: 900;
  font-style: italic;
  font-size: 1.55rem;
}

.btn__banner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  padding: 8px 20px;
  margin: 0 20px 0 20px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  transition: ease-in-out all 0.4s;
  border: 2px solid #5b93a0;
}
.btn__portfolio {
  color: #5b93a0;
}
.btn__portfolio:hover {
  color: white;
  background-color: #5b93a0;
}
.btn__CV, .btn__mail {
  color: white;
  background-color: #5b93a0;
}
.btn__CV:hover, .btn__mail:hover {
  color: #5b93a0;
  background-color: transparent;
}

.navbar {
  top: 0px;
  width: 100%;
  z-index: 100000;
  position: fixed !important;
  transition: all 0.5s;
}

.transparent-navbar {
  transition: all 0.5s;
  background-color: transparent;
}

.white-navbar {
  transition: all 0.5s;
  background-color: white;
  border-bottom: 1px solid #eeeeee;
}

.menu-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.menu-content a.menu-icon {
  display: none;
}

.navbar-logo {
  height: 80px;
}
.navbar-logo img {
  width: 80px;
}

.nav__link {
  display: inline-block;
  padding-left: 20px;
}
.nav__link a {
  text-decoration: none;
  position: relative;
  opacity: 0.7;
  color: #166678;
}
.nav__link a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #166678;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav__link a:hover,
.nav__link a:hover:after {
  opacity: 1;
  width: 100%;
  left: 0;
}

.bg-img {
  background-image: url(/assets/images/Animated\ Shape.svg);
  background-position: 45%;
  background-size: cover;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.banner h1 {
  z-index: 2;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.banner p {
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.container {
  margin: 0 auto;
  padding: 0 100px;
}

.section {
  padding: 40px 0 40px 0;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#about {
  background-color: #5b93a0;
  color: white;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 200px;
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
}

.description p {
  font-size: 18px;
}

.blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills-block {
  background-color: #aacfd0;
  width: 550px;
  border-radius: 15px;
  margin: 0 15px 30px 15px;
  box-shadow: 0px 0px 5px 0px rgba(157, 157, 157, 0.3);
}

.skills-title {
  text-align: center;
  color: white;
  padding: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.skills-group-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.skills-group-items img {
  width: 100px;
  transition: transform 0.1s ease-in-out;
}
.skills-group-items img:hover {
  transform: scale(1.1);
}
.skills-group-items h3 {
  font-size: 24px;
  color: #166678;
}

.skills-items {
  padding: 10px;
}

#portfolio {
  background-color: #5b93a0;
  color: white;
}

.projects-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  padding-top: 30px;
}

.project {
  position: relative;
  border-radius: 10px;
  height: 280px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}
.project:hover {
  transform: translateY(-5px);
}
.project:hover .project-description {
  visibility: visible;
  opacity: 1;
}

.project-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.project-description {
  margin: 5px 5px 5px 5px;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  height: 270px;
  top: 0px;
  left: 0px;
  width: calc(100% - 10px);
  background-color: rgba(170, 207, 208, 0.9019607843);
  color: #166678;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.4s ease-in-out;
}
.project-description p {
  text-align: center;
}
.project-description p.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}
.project-description p.project-description-text {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 5px;
}
.project-description p.project-technos {
  text-decoration: underline;
  font-size: 18px;
  margin-bottom: 5px;
}
.project-description p.project-button {
  margin-top: 20px;
}

.tag {
  padding: 5px;
  font-size: 18px;
  margin: 10px 5px;
  background-color: #166678;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(157, 157, 157, 0.3);
}

.visit-button {
  color: #166678;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(157, 157, 157, 0.3);
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
}
.visit-button:hover {
  background-color: #166678;
  color: white;
}

.informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.informations p {
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
}
.informations i {
  font-size: 40px;
  color: #5b93a0;
  margin: 0 10px;
}
.informations i:hover {
  color: #166678;
  transition: all 0.4s ease-in-out;
}

#footer {
  background-color: #166678;
  color: white;
  height: 150px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-copyright {
  font-size: 20px;
  order: 1;
  flex: 2 0 auto;
}
.footer-copyright p {
  text-align: center;
}

.footer-links {
  order: 2;
}
.footer-links a {
  color: white;
  font-size: 30px;
  margin-left: 100px;
  margin: 0 5px;
  opacity: 0.6;
}
.footer-links a:hover {
  opacity: 1;
  transition: ease-in-out all 0.5s;
}

/* DESKTOP*/
@media screen and (min-width: 1024px) {
  #skills h1 {
    margin-bottom: 20px;
  }
}
/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #menu-content li {
    display: none;
  }
  #menu-content a.menu-icon {
    float: right;
    display: block;
    font-size: 1.7em;
    color: #166678;
  }
  #menu-content.responsive {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    transition: all 0.6s;
  }
  #menu-content.responsive .nav-links ul {
    margin-top: 10px;
  }
  #menu-content.responsive .nav-links ul a {
    font-size: 24px;
  }
  #menu-content.responsive a.menu-icon {
    position: absolute;
    right: 15px;
    top: 24px;
  }
  #menu-content.responsive li {
    float: none;
    display: block;
    text-align: left;
    font-size: 1.35em;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  #skills h1 {
    margin-bottom: 20px;
  }

  .skills-title {
    padding: 5px;
  }
  .skills-title h2 {
    font-size: 26px;
  }

  .skills-group-items h3 {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-copyright p {
    font-size: 16px;
  }
}
/*SMARTPHONE*/
@media screen and (max-width: 767px) {
  .container {
    margin: 0 auto;
    padding: 0 40px;
  }

  .navbar-logo {
    height: 65px;
  }
  .navbar-logo img {
    width: 65px;
  }

  #menu-content li {
    display: none;
  }
  #menu-content a.menu-icon {
    float: right;
    display: block;
    font-size: 1.7em;
    color: #166678;
  }
  #menu-content.responsive {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    transition: all 0.6s;
  }
  #menu-content.responsive .nav-links ul {
    margin-top: 10px;
  }
  #menu-content.responsive .nav-links ul a {
    font-size: 24px;
  }
  #menu-content.responsive a.menu-icon {
    position: absolute;
    right: 15px;
    top: 24px;
  }
  #menu-content.responsive li {
    float: none;
    display: block;
    text-align: left;
    font-size: 1.35em;
  }

  #home h1 {
    font-size: 40px;
    text-align: center;
    padding: 0 5px;
  }
  #home p {
    text-align: center;
    font-size: 16px;
    padding: 0 5px;
  }

  .btn__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .btn {
    text-align: center;
  }
  .btn__CV {
    margin-top: 20px;
  }

  .banner h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
  }
  .banner p {
    font-size: 10px;
  }

  .section {
    padding: 30px 0 30px 0;
  }

  .section-title h1 {
    font-size: 30px;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .photo img {
    width: 150px;
    border-radius: 50%;
  }

  .description p {
    font-size: 16px;
  }

  #skills h1 {
    margin-bottom: 20px;
  }

  .skills-title {
    padding: 5px;
  }
  .skills-title h2 {
    font-size: 26px;
  }

  .skills-group-items {
    padding: 0;
  }
  .skills-group-items img {
    width: 70px;
  }
  .skills-group-items h3 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .skills-items {
    padding: 15px;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
  }

  .project-description p {
    text-align: center;
  }
  .project-description p.title {
    font-size: 20px;
    font-weight: 700;
  }
  .project-description p.project-description-text {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 5px;
  }
  .project-description p.project-technos {
    text-decoration: underline;
    font-size: 16px;
  }
  .project-description p.project-button {
    margin-top: 10px;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-copyright p {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
