*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #5b93a0;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.5;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

a {
  font-size: 1.1em;
  text-decoration: none;
}

p {
  font-size: 1em;
  text-align: justify;
}

button {
  font-weight: 900;
  font-style: italic;
  font-size: 1.55rem;
}

.btn__banner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  padding: 8px 20px;
  margin: 0 20px 0 20px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  transition: ease-in-out all 0.5s;
  border: 2px solid #5b93a0;
}
.btn__portfolio {
  color: #5b93a0;
}
.btn__portfolio:hover {
  color: white;
  background-color: #5b93a0;
}
.btn__CV {
  color: white;
  background-color: #5b93a0;
}
.btn__CV:hover {
  color: #5b93a0;
  background-color: white;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: normal;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.banner p {
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 20px;
}

.navbar {
  padding: 20px;
  top: 0px;
  z-index: 100000;
  position: sticky;
}

.transparent-nav {
  background-color: transparent;
}

.white-nav {
  background-color: white;
  border-bottom: 1px solid #eeeeee;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 80px;
}
.nav-logo img {
  width: 80px;
}

.nav {
  display: flex;
  text-align: right;
}
.nav__link {
  display: inline;
  padding-left: 20px;
}
.nav__link a {
  text-decoration: none;
  color: #5b93a0;
}
.nav__link--active a {
  color: #166678;
  text-decoration: underline;
}
.nav__link a:hover {
  color: #166678;
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  padding: 0 100px;
}

.section {
  padding: 40px 0 40px 0;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}
.section-title h1 {
  padding: 0 0 20px 0;
}

#about {
  background-color: #5b93a0;
  color: white;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 350px;
  border-radius: 50%;
  padding: 10px;
}

.blocks {
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-block {
  background-color: #aacfd0;
  border-radius: 15px;
  width: 600px;
  padding: 10px 30px 30px 30px;
  box-shadow: 0px 0px 5px 0px rgba(157, 157, 157, 0.3);
  margin: 35px;
}

.skills-title {
  text-align: center;
  color: white;
  padding: 10px;
  text-shadow: 0px 0px 5px 0px rgba(157, 157, 157, 0.3);
}

.skills-group-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.skills-group-items {
  text-align: center;
}
.skills-group-items img {
  width: 100px;
  transition: transform 0.1s ease-in-out;
}
.skills-group-items img:hover {
  transform: scale(1.1);
}
.skills-group-items h3 {
  font-size: 24px;
  color: #166678;
}

#portfolio {
  background-color: #166678;
  color: white;
}

.projects-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.projects-card {
  width: 600px;
}
.form {
  width: 100%;
}
.form__heading {
  width: 100%;
  color: white;
  background: #5b93a0;
  line-height: 2rem;
}
.form__field label {
  color: #5b93a0;
  display: block;
  font-size: 2rem;
  line-height: 2rem;
}
.form__field input {
  width: 100%;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
  background-color: #aacfd0;
  color: #5b93a0;
}
.form__field textarea {
  width: 100%;
  color: #5b93a0;
  background: #aacfd0;
  outline: none;
}

#footer {
  background-color: #166678;
  color: white;
  height: 150px;
}

.footer-links a {
  color: white;
}

/*# sourceMappingURL=style.css.map */
