@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.btn-scroll-down {
  text-align: center;
  margin-top: 100px;
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  background-color: orange;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 1.5s infinite 2s;
  animation: bounce 1.5s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.btn-scroll-down:before {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 13px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: block;
  width: 24px;
  height: 24px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}

@-webkit-keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.btn_modal {
  margin-top: 30px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background-color: lightgray;
}

h1,
h2,
h3,
h4,
p,
a {
  color: #28089b;
}

h1 {
  font-weight: bold;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
}

section {
  margin-top: 100px;
}

section h1,
section h2,
section h3,
section h4 {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  padding: 30px;
}

#contact {
  margin-top: 180px;
}

#contact h2 {
  font-size: 3em;
}

.map {
  margin-right: 30px;
}

.banner {
  height: 100vh;
  padding: 10px;
}

.banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
}

.banner-container h1 {
  font-size: 48px;
  text-align: center;
  padding: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.banner-container h4 {
  font-size: 3em;
  text-align: center;
  padding: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.banner-container h4 > span > span {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.banner-container p {
  text-align: center;
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.banner-container p > span > span {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.banner-container span {
  overflow: hidden;
  display: block;
}

.banner-container span > span {
  visibility: hidden;
  -webkit-animation: spanFadeIn 2s ease forwards;
          animation: spanFadeIn 2s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes spanFadeIn {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    visibility: visible;
  }
}

@keyframes spanFadeIn {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    visibility: visible;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.navbar li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.navbar a {
  text-transform: uppercase;
  text-decoration: none;
}

.navbar a:hover,
.navbar a :focus {
  color: orange;
}

.navbar .menu_icon {
  display: none;
  font-size: 2em;
}

.logo h1 {
  font-size: 2em;
  padding: 0;
  font-weight: bold;
  color: #28089b;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.logo h1:hover {
  color: orange;
}

.orange {
  color: orange;
  font-size: 2.5;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 500px;
}

.info-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info-name input {
  border: none;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

label,
input {
  margin-top: 10px;
  height: 35px;
  width: 100%;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#fname,
#date-checkin {
  margin-right: 10px;
}

textarea {
  max-width: 500px;
  min-width: 100%;
  margin-top: 10px;
  height: 150px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.submit_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submit_button input {
  width: 50%;
  color: #28089b;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5;
  border-radius: 3px;
  background-color: white;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.submit_button input:hover {
  background-color: orange;
  color: white;
  cursor: pointer;
}

.footer {
  background-color: #28089b;
  font-size: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 130px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 0px;
}

.footer a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  opacity: 0.5;
  font-size: 1em;
  padding: 0px 10px;
}

.footer a:hover {
  opacity: 1;
}

.footer p {
  color: white;
  opacity: 0.5;
  font-size: 1em;
}

/* DESKTOP*/
/*TABLET*/
/*SMARTPHONE*/
/*# sourceMappingURL=main.css.map */