.form {
  width: 100%;
  &__heading {
    width: 100%;
    color: white;
    background: $colour-primary;
    line-height: 2rem;
  }
  &__field {
    & label {
      color: $colour-primary;
      display: block;
      font-size: 2rem;
      line-height: 2rem;
    }
    & input {
      width: 100%;
      font-weight: 900;
      font-style: italic;
      font-size: 2.75rem;
      background-color: $colour-secondary;
      color: $colour-primary;
    }
    & textarea {
      width: 100%;
      color: $colour-primary;
      background: $colour-secondary;
      outline: none;
    }
  }
}
