.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 100px;
  & img {
    width: 100px;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
