.nav {
  display: flex;
  text-align: right;
  &__link {
    display: inline;
    padding-left: 20px;
    & a {
      text-decoration: none;
      color: $colour-primary;
    }
    &--active a {
      color: $colour-primary-dark;
      text-decoration: underline;
    }
    & a:hover {
      color: $colour-primary-dark;
      text-decoration: underline;
    }
  }
}
