.navbar {
  padding: 20px;
  top: 0px;
  z-index: 100000;
  position: sticky;
}

.transparent-nav {
  background-color: transparent;
}

.white-nav {
  background-color: white;
  border-bottom: 1px solid #eeeeee;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 80px;
  & img {
    width: 80px;
  }
}

.nav {
  display: flex;
  text-align: right;
  &__link {
    display: inline;
    padding-left: 20px;
    & a {
      text-decoration: none;
      position: relative;
      opacity: 0.7;
      color: $colour-primary-dark;
    }
    & a:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: $colour-primary-dark;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    & a:hover,
    a:hover:after {
      opacity: 1;
      width: 100%;
      left: 0;
    }
  }
}
