body {
  font-family: 'Montserrat', sans-serif;
  color: $colour-primary;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.5;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

a {
  font-size: 1.1em;
  text-decoration: none;
}

p {
  font-size: 1em;
  text-align: justify;
}

button {
  font-weight: 900;
  font-style: italic;
  font-size: 1.55rem;
}
