
$color-grey: rgb(68, 68, 68);
$color-bg-orange: rgba(255, 166, 0, 0.3);
$color-orange: rgb(255, 165, 0);
$box-shadow: rgba(157, 157, 157, 0.3);

$max-desktop: 1500px;
$max-tablet: 1023px;
$min-tablet: 768px;
$max-smartphone: 767px;
