$colour-primary: #5b93a0;
$colour-primary-dark: #166678;
$colour-secondary: #aacfd0;
$colour-secondary-light: #aacfd0e6;

$box-shadow: rgba(157, 157, 157, 0.3);

$min-desktop: 1024px;
$max-tablet: 1023px;
$min-tablet: 768px;
$max-smartphone: 767px;
