.footer {
  background-color: $color-grey;
  font-size: 1em;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 130px;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
  margin-top: 0px;
  & a {
    color: white;
    opacity: 0.15;
    text-decoration: none;
    opacity: 0.5;
    font-size: 1em;
    padding: 0px 10px;
    &:hover {
      opacity: 1;
    }
  }
  & p {
    color: white;
    opacity: 0.5;
    font-size: 1em;
  }
}



