.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  & li {
    display: inline-flex;
    padding-right: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  & a {
    text-transform: uppercase;
    text-decoration: none;
    &:hover,
    :focus {
      color: $color-orange;
    }
  }
  & .menu_icon {
    display: none;
    font-size: 2em;
  }
}

.logo h1 {
  background-color: red;
  font-size: 2em;
  padding: 0;
  font-weight: bold;
  color: blue;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  &:hover {
    color: $color-orange;
  }
}
